DATABASE_URL=mongodb+srv://evanto:evanto@team01.i4rja5c.mongodb.net/Evanto
JWT_SECRET_KEY = Evanto
PORT=5000
Nodemailer_GMAIL=khansourav58@@gmail.com

Nodemailer_GMAIL_PASSWORD=opcsqcnjlsrfevxr
url= http://localhost:5000/api/user