
#client db
#DATABASE_URL=mongodb+srv://envato:envato@cluster0.3xo4q4e.mongodb.net/Envato

# testing db
DATABASE_URL=mongodb+srv://evanto:evanto@team01.i4rja5c.mongodb.net/Evanto


JWT_SECRET_KEY = Envato
PORT=5000
Nodemailer_GMAIL=digitaltoolsbd@gmail.com

Nodemailer_GMAIL_PASSWORD=pglt waaf kgzc cmzg

 url= http://localhost:3000

url = https://elementsdownload.com
